<div class="user-table-container">
  <h1 class="page-title">Usuários</h1>
  <button mat-raised-button color="primary" class="add-button" (click)="openUserForm()">Adicionar Usuário</button>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Nível de Acesso </th>
      <td mat-cell *matCellDef="let user"> {{ user.level }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let user" class="action-buttons">
        <button mat-icon-button color="primary" (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUser(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <!-- Painel de Edição -->
  <div class="edit-panel" *ngIf="showEditPanel">
    <div class="edit-panel-header">
      <div class="edit-title">Editar Usuário</div>
      <button class="close-button" (click)="closeEditPanel()">
        <img src="assets/icons/close.png" alt="Fechar">
      </button>
    </div>
    <div class="edit-panel-content">
      <div class="edit-field">
        <div class="edit-field-title">Nome</div>
        <input type="text" class="edit-input" placeholder="Nome completo" [(ngModel)]="editUser.name" required>
      </div>
      <div class="edit-field">
        <div class="edit-field-title">Email</div>
        <input type="email" class="edit-input" placeholder="Email" [(ngModel)]="editUser.email" required>
      </div>
      <div class="edit-field">
        <div class="edit-field-title">Nível de Acesso</div>
        <input type="text" class="edit-input" placeholder="Nível de Acesso" [(ngModel)]="editUser.level" required>
      </div>
      <div class="edit-field">
        <div class="edit-field-title">Senha</div>
        <input type="password" class="edit-input" placeholder="Senha" [(ngModel)]="editUser.password" required>
      </div>
      <div class="edit-field">
        <div class="edit-field-title">Confirmar Senha</div>
        <input type="password" class="edit-input" placeholder="Confirmar Senha" [(ngModel)]="editUser.confirmPassword" required>
      </div>
      <button class="save-button" (click)="saveUser()">Salvar</button>
    </div>
  </div>
</div>